<header>
  <h1 id="name">Isaac Riceweber</h1>
  <table id="contact">
    <tr>
      <td>
        <label for="linkedin">LinkedIn:</label>
      </td>
      <td>
        <a id="linkedin" href="https://www.linkedin.com/in/isaac-riceweber/"
          >https://www.linkedin.com/in/isaac-riceweber</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <label for="github">GitHub:</label>
      </td>
      <td>
        <a id="github" href="https://www.github.com/kilahm"
          >https://www.github.com/kilahm</a
        >
      </td>
    </tr>
    <tr>
      <td><label for="email">Email:</label></td>
      <td>
        <a id="email" href="mailto:brotchen@gmail.com">brotchen@gmail.com</a>
      </td>
    </tr>
  </table>
</header>
<section id="philosophy">
  <p>
    There is no thrill more exiting than implementing sustainable solutions to
    novel problems in shifting contexts.
  </p>
  <p>
    Technical soluitons must remove friction between creators and the
    realization of their dreams.
  </p>
  <p>Fully automated technical process enables seamless human process.</p>
</section>
<div id="history">
  <h2>Work History</h2>

  <section class="position">
    <h3 class="title">Principal Software Engineer</h3>
    <span class="company">McGraw-Hill</span>
    <span class="date-range">Oct 2019 &ndash; Present (1 Year)</span>
    <ul>
      <li>Active role in setting company wide practices</li>
      <li>Maintained tooling used by many agile teams</li>
      <li>Regular contributor to company wide forum on new technology</li>
      <li>
        Support multiple teams in design and implementation of complex systems
      </li>
      <li>SME on content authoring systems</li>
    </ul>
  </section>

  <section class="position">
    <h3 class="title">Lead Software Engineer</h3>
    <span class="company">McGraw-Hill</span>
    <span class="date-range"
      >April 2018 &ndash; Oct 2019 (1 Year, 7 Months)</span
    >
    <ul>
      <li>Led a cross-functional agile team</li>
      <li>
        Worked closely with product and project managers to determine scope and
        complexity of individual projects
      </li>
      <li>Functional manager to developers and QA</li>
      <li>Communicated requirements with other teams</li>
      <li>Encouraged api first design of systems</li>
      <li>Contributed to company wide "best" practices</li>
      <li>
        Led rewrite of existing micro service, including a large redesign of the
        entire subject domain
      </li>
    </ul>
  </section>

  <section class="position">
    <h3 class="title">Senior Software Engineer</h3>
    <span class="company">McGraw-Hill</span>
    <span class="date-range">July 2017 &ndash; April 2018 (10 Months)</span>
    <ul>
      <li>
        Developed replacement micro service for a domain of a legacy monolithic
        PHP application
      </li>
      <li>
        Contributed to determining "best" practices on the team and between
        teams
      </li>
      <li>
        Acted as a bridge between offices in disparate geographical regions
      </li>
      <li>Promoted inter-team communication</li>
      <li>Major initial contributor to greenfield Angular application</li>
    </ul>
  </section>

  <section class="position">
    <h3 class="title">Software Engineer</h3>
    <span class="company">McGraw-Hill</span>
    <span class="date-range"
      >January 2016 &ndash; July 2017 (1 Year 7 Months)</span
    >
    <ul>
      <li>Refactored legacy monolithic PHP application</li>
      <li>Introduced i18n using "gettext"</li>
      <li>
        Produced tooling in PHP to import, export, and manipulate i18n
        translation files
      </li>
      <li>Integrated novel micro services into existing functionality</li>
    </ul>
  </section>
</div>
<div id="tools">
  <h2>Toolbelt</h2>
  <section class="tool">
    <h3 class="title"><a href="https://git-scm.com/">Git</a></h3>
    <p class="description">
      Source control tool to maintain historical changes of files.
    </p>
  </section>
  <section class="tool">
    <h3 class="title"><a href="https://github.com/">GitHub</a></h3>
    <p class="description">
      Web based platform for sharing git repositories with tools for peer
      review, branch management, access control, build automation, and artifact
      storage.
    </p>
  </section>
  <section class="tool">
    <h3 class="title">
      <a href="https://www.typescriptlang.org/">Typescript</a>
    </h3>
    <p class="description">
      Statically typed language that transpiles to Javascript. Full support for
      generics and gradual typing.
    </p>
  </section>
  <section class="tool">
    <h3 class="title"><a href="https://www.terraform.io/">Terraform</a></h3>
    <p class="description">
      Define desired infrastructure using the same tools and process as
      application code, allowing teams to reuse peer review process and maintain
      a historical record of changes of infrastructure with the same tools as
      are used for application code.
    </p>
  </section>
  <section class="tool">
    <h3 class="title"><a href="https://angular.io">Angular</a></h3>
    <p class="description">
      Typescript based framework for building complex single page web
      applications utilizing reactive programming patterns.
    </p>
  </section>
  <section class="tool">
    <h3 class="title"><a href="https://ngrx.io">NGRX</a></h3>
    <p class="description">
      Library to centralize state of an Angular application. Implements single
      direction data flow model, similar to Redux.
    </p>
  </section>
  <section class="tool">
    <h3 class="title"><a href="https://nx.dev">Nx</a></h3>
    <p class="description">
      Enhancements to the Angular CLI tooling specifically for monorepositories.
    </p>
  </section>
</div>
